/* .update-section {
  padding-left: 10px;
}

input.update-input {
  padding-left: 10px;
}

.save-changes {
  background-color: #4CAF50;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(54, 244, 162, .4);
  color: #fff;
  margin: 10px 20px 10px 10px;
  text-transform: capitalize;
  font-size: 13px;
  padding: 10px 15px;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
}

.save-changes:hover {
  box-shadow: 0 4px 6px rgba(0,0,0,0.24);
} */