.order-history-item {
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.24);
  margin: 0 10px 20px 10px;
}

.open .order-history-item {
  background: #FFFFFF;
}

.completed .order-history-item {
  background: gray;
}

.header {
  margin-left: 10px;
}

.sub-header {
  margin-left: 10px;
}