.ConfirmOrder {
  margin: 10px;
}

.table-number {
  width: 100px !important;
  padding: 10px !important;
  margin-left: 30px !important;
}

.payment {
  display: block;
}

.payment p {
  display: inline-block;
  margin-right: 10px;
}
