.ConfirmOrder {
  margin: 10px;
}

.ConfirmOrder h3 {
  margin: 10px;
}

.table-number {
  width: 100px !important;
  padding: 10px !important;
  margin-left: 10px !important;
  border: 1px solid #AAA !important;
  border-radius: 2px !important;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1) !important;
}

.payment {
  display: block;
}

.payment p {
  display: inline-block;
  margin-right: 10px;
}

.place-order {
  background-color: #4CAF50;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(54, 244, 162, .4);
  color: #fff;
  margin: 10px 20px 10px 10px;
  text-transform: capitalize;
  font-size: 13px;
  padding: 10px 15px;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
}

.place-order:hover {
  box-shadow: 0 4px 6px rgba(0,0,0,0.24);
}

.order-error {
  background-color: rgba(147, 154, 147, 0.317);
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14);
  color: rgba(70, 70, 70, 0.337);
  margin: 10px 20px 10px 10px;
  text-transform: capitalize;
  font-size: 13px;
  padding: 10px 15px;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
}

.select-payment {
    background-color: #FFFFFF; /* fallback color if gradients are not supported */
    border: 1px solid #AAA;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: #555;
    font-size: inherit;
    margin: 0;
    margin-left: 10px;
    overflow: hidden;
    padding: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 40px;
}

