
.header {
  margin: 10px 0 40px 10px;
}

.open {
  margin: 0 20px 20px 10px;
  padding: 5px;
  box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.24);
  background-color: #FFFFFF;
  border-radius: 6px;
}

.order-history-item {
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.24);
  margin: 10px 0 10px 0;
  background: #FFFFFF;
}

.open tbody > tr:hover {
  background-color:  rgba(241, 233, 233, 0.512);
  border-radius: 6px;
}

.order-history-expand td {
  border-top: 0 !important;
  text-align: left !important;
  margin: auto !important;
  padding: 10px !important;
}

.item-expansion-row {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #3333334e;
}

.order-delay {
  color: #f44336;
  margin-right: 5px;
  vertical-align: -20%;
}

.open-sub-header {
  margin: -20px 20px 0 20px;
  border-radius: 3px;
  padding: 15px;
  background-color: #ffeb3b;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px #ffeb3b;
  color: #333333;
}
.completed {
  margin: 50px 20px 20px 10px;
  background-color: #FFFFFF;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.24);
}

.completed-sub-header {
  background-color: #3f51b5;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px #3f51b5;
  color: #FFFFFF;
  border-radius: 3px;
  padding: 0 10px 0 10px;
  margin: -20px 15px 0 15px;
}

.order-history-table {
  width: 100%;
  margin: 20px 0 20px 0;
  background-color: transparent;
  display: table;
  border-collapse: separate;
  border-color: rgb(128, 128, 128);
  background-color: #FFFFFF;
  padding: 5px;
  border-spacing: 0;
}

.order-history-table thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

.order-history-table tbody {
  display: table-row-group;
  vertical-align: middle;
}

.order-history-table tr {
  border-top: 1px solid rgba(0, 0, 0, 0.738) !important;
}

.order-history-table td {
  padding: .75rem;
  vertical-align: top;
  text-align: center;
  border: 0 none !important;
}