.DebugComponentRed {
  padding: 10px;
  border: 2px solid tomato;
  margin: 10px 0px;
}

.DebugComponentBlue {
  padding: 10px;
  border: 2px solid dodgerblue;
  margin: 10px 0px;
}

.RegisterLabel {
  margin-top: 15px;
}

.menu-item {
  border: 2px solid goldenrod;
  padding: 10px;
  margin: 5px;
}

.menu-section {
  border: 2px solid green;
  padding: 10px;
  margin: 5px;
}