@import url('https://fonts.googleapis.com/css?family=Bitter:400,400i,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  margin: 0;
  padding: 0;
  font-family: Camphor,Open Sans,system-ui,sans-serif;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

.RegisterLabel {
  margin-top: 15px;
}

.order-item {
  padding: 10px;
  margin: 5px;
  border-radius: 3px;
  box-shadow: 0px 0px 1px 1px #333333;
}

.order-item:hover {
  box-shadow: 0px 0px 8px 2px goldenrod;
}

.order-history-item {
  padding: 10px;
  margin: 5px;
  border-radius: 3px;
  box-shadow: 0px 0px 1px 1px #333333;
}

.restaurant-loader {
  border: 16px solid #ffffff; 
  border-top: 16px solid #c75b39; 
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  margin: auto;
  margin-top: 30vh;
}

.customer-loader {
  border: 16px solid #ffffff; 
  border-top: 16px solid #4CAF50; 
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  margin: auto;
  margin-top: 30vh;
}

.modal-loader {
  border: 16px solid #dcdcdc7e; 
  border-top: 16px solid #c75b39; 
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: auto;
}

.loading-spinner {
  margin-top:4px;
  border: 6px solid rgb(200, 241, 244); /* Light grey */
  border-top: 6px solid #00B1D8; /* Blue */
  border-radius: 50%;
  width: 26px;
  height: 26px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

textarea.form-input {
  -webkit-appearance:none;
  -moz-appearance: none; 
  -ms-appearance: none;
  padding: 10px 0px;
  margin: 0px 0px 10px 0px;
  border: 0;
  outline: none;
  background: transparent;
  border-bottom: 2px solid darkslategray;
  color: darkslategray;
  font-weight: 400;
  font-size: 18px;
  width: 100%;

}

.item-image {
  max-height: 200px;
  max-width: 200px;
  /* object-fit: contain; */
}

.error {
  color: maroon;
  padding-top: 15px;
  padding-bottom: 15px;
  font-style: bold;
}

.user-input-wrp {
	position: relative;
}
.user-input-wrp .inputText {
	width: 100%;
	outline: none;
	border:none;
  border-bottom: 3px solid #777;
  background: transparent;
}
.pw-wrp .inputText {
  height: 4.5em;
}
.user-input-wrp .inputText:invalid {
	box-shadow: none !important;
}
.user-input-wrp .inputText:focus{
	border-color: #2196F3;
}
.inputText:focus ~ .floating-label{
	color: #2196F3;
}
.user-input-wrp .floating-label {
	position: absolute;
	pointer-events: none;
	top: 40px;
	left: 10px;
  transition: 0.8s ease all;
  font-style: italic;
  color: lightslategrey
}
.user-input-wrp input:focus ~ .floating-label,
.user-input-wrp input:not(:focus):valid ~ .floating-label{
	top: 10px;
	left: 10px;
	font-size: 13px;
  opacity: 1;
  font-style: italic;
}

.register-submit {background-color: #48c74c}

.register-submit:hover:enabled {background-color: #81e384}

.register-submit {
  align-items:center;
  align-content : center;
  padding: 10px 18px;
  font-size: 13px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
  margin-top: 30px;
}

.register-submit:active {
  box-shadow: 0 0px #999;
  transform: translateY(5px);
}

input.update-input {
  padding-left: 10px;
}