.Mast {
  font-family: 'Bitter', serif;
  font-size: 28px;
  text-shadow: .75px .75px rgba(0, 0, 0, 0.413);
  text-align: center;
  padding: 50px;
  background: #c75b39;
 
  color: white;
}

.Mast span {
  padding: 6px 10px;
}

.customer-mast {
  font-family: 'Bitter', serif;
  font-size: 28px;
  text-align: center;
  padding: 50px;
  background: #4CAF50;
  color: white;
  margin-bottom: 0;
}

.hb-header {
  display: inline-block;
  margin-left: 30px;
}

.menu-control .material-icons {
  font-size: 40px;
  vertical-align: -24%;
}