.DebugComponentRed {
  padding: 10px;
  border: 2px solid tomato;
  margin: 10px 0px;
}

.DebugComponentBlue {
  padding: 10px;
  border: 2px solid dodgerblue;
  margin: 10px 0px;
}

.RegisterLabel {
  margin-top: 15px;
}

/* Menu Manager components */

.menu-item {
  padding: 10px;
  margin: 5px;
  border-radius: 3px;
  box-shadow: 0px 0px 1px 1px #333333;
}

.menu-section {
  padding: 10px;
  margin: 5px;
}

.menu-item p:hover, .menu-item h3:hover, .menu-item select:hover {
  box-shadow: 0px 0px 8px 2px rebeccapurple;
}

.menu-item input {
  box-shadow: 0px 0px 8px 2px rebeccapurple;
}

.restaurant-snippet {
  padding: 10px;
  margin: 5px;
  border-radius: 3px;
  box-shadow: 0px 0px 1px 1px #333333;
}
.restaurant-snippet:hover {
  box-shadow: 0px 0px 8px 2px goldenrod;
}

