.form {
  margin: 0 auto;
  width: 80%;
  max-width: 800px;
  text-align: center;
  padding-bottom: 40px;
}

.form-group label {
  font-size: 14px;
  padding: 5px 0px;
  color: darkslategray;
  display: block;
}

.item-input-div {
  -webkit-appearance:none;
  -moz-appearance: none; 
  -ms-appearance: none;
  margin: 0px 0px 15px 0px;
  border: 0;
  outline: none;
  white-space: nowrap;
  background: transparent;
  border-bottom: 1px solid darkslategray;
  color: darkslategray;
  font-weight: 400;
  font-size: 18px;
  width: 100%;
  display: block;
}

.item-input-div.status {
  border-bottom: 0px;
}

.item-input-div:hover .manager-icons {
  color: #f96335;
}

.item-input-div:hover {
  border-color: #f96335;
}

.item-input {
  -webkit-appearance:none;
  -moz-appearance: none; 
  -ms-appearance: none;
  border: 0;
  outline: none;
  background: transparent;
  color: darkslategray;
  font-weight: 400;
  font-size: 18px;
  width: 100%;
  display: inline-block;
}
.manager-icons {
  color: #c75b39;
  display: inline-block;
  font-size: 18px;
  padding-right: 10px;
  vertical-align: -9%;
}

.form-section {
  font-size: 18px;
  margin: 10px 0px 30px 0px;
  text-align: left;
}

.section-name {
  font-size: 20px;
  margin: 0px 0px 0px 0px !important;
  border-bottom: 0 !important;
}

.section-description {
  font-style: italic;
  font-size: 14px !important;
  padding-top: 1px !important;
}

.menu-manager-item {
  margin: 10px;
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 0 4px 6px rgba(0,0,0,0.24);
  margin-bottom: 20px;
}

.item-specs {
  flex: 0 0 24%;
  display: flex;
  flex-wrap: wrap;
}

.nutri-facts {
  margin-right: 20px;
  margin-bottom: 2px;
}

.nutri-facts p {
  font-size: 12px;
}

.option-name {
  display: inline-block;
  margin-right: 10px
}

.option-select {
  display: inline-block;
}
.item-header {
  flex: 0;
  display: flex;
  width: 90%;
}

.item-button {
  background-color: #c75b39;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(244,67,54,.4);
  color: #fff;
  margin: auto;
  text-transform: capitalize;
  font-size: 13px;
  padding: 10px 15px;
  border-radius: 3px;
  display: block;
  cursor: pointer;
}

.item-button .manager-icons {
  color: #fff;
  vertical-align: -18%;
}

.item-button:hover {
  box-shadow: 0 4px 6px rgba(0,0,0,0.24);
}

.save-button {
  background-color: #4CAF50;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(54, 244, 162, .4);
  color: #fff;
  margin: auto;
  text-transform: capitalize;
  font-size: 13px;
  padding: 10px 15px;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
}

.save-button:hover {
  box-shadow: 0 4px 6px rgba(0,0,0,0.24);
}

.section-button {
  background-color: #c75b39;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(244,67,54,.4);
  color: #fff;
  margin: auto;
  text-transform: capitalize;
  font-size: 13px;
  padding: 10px 15px;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
}

.section-button:hover {
  box-shadow: 0 4px 6px rgba(0,0,0,0.24);
}

select.status {
  background-color: #ECEFF1;
  color: #333;
  font-size: 13px;
  padding: .5em;
  padding-right: 2.5em; 
  border: 1px;
  border-radius: 0;
  margin: 0;
  text-indent: 0.01px;
  text-overflow: '';
  display: inline-block;
}



.item-image {
  box-shadow: 0 4px 6px rgba(0,0,0,0.24);
  float: right;
  width: 100px;
  height: 100px;
  display: inline-block;
}

.no-image {
  display: inline-block;
  float: right;
  margin-bottom: 10px;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  box-shadow: 2px 2px 3px 3px rgba(0,0,0,0.24);
  font-size: 12px;
}

.no-image:hover {
  box-shadow: 0 4px 6px rgba(0,0,0,0.24);
  cursor: pointer;
}

.no-image span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}



