.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
  padding: 50px;
  z-index: 2;
}

.order-modal {
  z-index: 100;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ECEFF1;
  border-radius: 5px;
  max-width: 400px;
  min-height: 100px;
  margin: auto;
  padding: 30px;
  z-index: 3;
}

.order-modal-header {
  margin-top: -40px;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255,152,0,.4);
  background-image: linear-gradient(60deg, rgb(251, 140, 0), rgb(255, 167, 38));
  color: #FFFFFF;
  border-radius: 6px;
  padding: 10px;
}

.order-modal-header h3 {
  margin: 0;
  font-weight: 200;
}

.order-modal-buttons {
  display: flex;
}

.clear-button {
  background-color: #dbdbdb;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px #bcbcbc;
  color: #848383;
  margin: auto;
  text-transform: capitalize;
  font-size: 13px;
  padding: 10px 15px;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  margin-left: 5px;
  float: right;
}

.clear-button:hover {
  box-shadow: 0 4px 6px rgba(0,0,0,0.24);
}

.widget-modal {
  position: relative;
  top: 50%;
  transform: translateX(10%) translateY(-50%);
  background-color: #FFF;
  border-radius: 5px;
  max-width: 500px;
  min-height: 100px;
  margin: auto;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14);
  max-height: 90%;
  overflow: scroll;
  z-index: 3;
}

.notifications {
  z-index: 1031;
  display: block;
  float: right;
  margin-top: 20px;
  margin-right: 20px;
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 20px;
  background-color: rgb(0, 202, 227);
  color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.14) 0px 4px 20px 0px, rgba(0, 200, 227, 0.361) 0px 7px 10px -5px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  max-width: 33.33%;
  visibility: hidden;
}

.show {
  visibility: visible;
  opacity: 1;
}

.notification-message {
  vertical-align: 35%;
  margin: 0 10px 0 10px;
}

.notify-close {
  font-size: 14px;
  vertical-align: 20px;
}

.notify-close:hover {
  color: #333333; 
}

.widget-modal-header {
  display: inline-block;
  font-size: 20px;
  margin: 0 15px;
  margin-top: -5px;
  height: 50px;
  padding: 20px;
  color: #fff;
  border-radius: 3px;
  white-space: normal;
  overflow: hidden;
}

.widget-modal-header.user {
  background-color: #8E24AA;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(141, 36, 170, 0.461);
}

.widget-modal-title {
  font-size: 1.125rem;
  line-height: 0%;
  font-weight: 300;
  display: inline-block;
}

.material-icons.modal {
  display: inline-block;
  line-height: -10%;
  font-size: 20px;
}

.widget-modal-content {
  display: block;
  padding: 0 0 20px 20px;
}

.widget-modal-table {
  padding: 12px 8px;
  vertical-align: middle;
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: grey;
}

.widget-modal-table td {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid rgba(0,0,0,.06);
}

input[type=number] {
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  padding: 0 8px;
  margin: 10px 10px 10px 10px;
  min-width: 80px;
}

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
  cursor:pointer;
  display:block;
  width:8px;
  color: #333;
  text-align:center;
  position:relative;
}

input[type=number]:hover::-webkit-inner-spin-button { 
  background: #eee url('http://i.stack.imgur.com/YYySO.png') no-repeat 50% 50%;  
  width: 14px;
  height: 14px;
  padding: 4px;
  position: relative;
  right: 4px;
  border-radius: 28px;
}

input[type="text"], textarea {
  -webkit-appearance:none;
  -moz-appearance: none; 
  -ms-appearance: none;
  padding: 10px 0px;
  margin: 10px 10px 10px 0px;
  border: 0;
  outline: none;
  background: #fff;
  color: darkslategray;
  font-weight: 400;
  font-size: 18px;
  width: 100%;
}