.RestaurantNav {
}

.RestaurantNav li {
  padding: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.RestaurantNav a {
  text-decoration: inherit;
  color: black;
}

.RestaurantNav .menu-control {
  display: none;
}


@media (max-width: 540px) {
  .RestaurantNav .menu-control {
    display: inherit;
  }

  .RestaurantNav .sidebar-left {
    display: none;
  }

  .small-screen-restaurant {
    display: flex;
    flex-direction: column;
    max-height: fit-content;
    color: white;
  }
  
}