.widget {
  /* flex: 0 0 24%; */
  margin: 10px;
  padding: 20px;
  background: white;
  box-shadow: 0 4px 6px rgba(0,0,0,0.24);
  display: flex;
  flex-wrap: wrap;
}

.widget-small {
  flex: 1 0 24%;
  min-width: 300px;
  max-width: 350px;
}

.widget-medium {
  flex: 1 0 24%;
  min-width: 600px;
  max-width: 650px;
}

.widget-large {
  flex: 1 0 96%;
  width: 100%;
}

.widget-header-text {
  flex: 1;
  display: flex;
  max-height: 50px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  font-family: 'Bitter', serif;
  font-size: 20px;
}

.widget-header-icon {
  flex: 1;
  display: flex;
  max-width: 50px;
  max-height: 50px;
  padding: 10px;
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.widget-chart {
  flex: 1 1 100%;
  width: 100%;
  background: lightgrey;
  padding: 10px;
  margin-top: 20px;
}


.info {
  padding: 10px 20px;
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid lightgrey;
  width: 100%;
  padding: 20px 0px;

}

.section-chart {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0px;
}

.info-label {
  flex: 3;
  font-size: 18px;
  text-align: right;

}

.info-detail {
  flex: 1;
  font-weight: bold;
  font-size: 18px;
  text-align: left;

}

.mat-color-orange {
  background: #F4511E;
  color: white;
}

.mat-color-purple {
  background: #8E24AA;
  color: white;
}

.mat-color-lightblue {
  background: #1E88E5;
  color: white;
}

.mat-color-teal {
  background: #00897B;
  color: white;
}

.mat-color-green {
  background: #43A047;
  color: white;
} 

.WidgetTotalCustomers .widget-header-icon {
  background: #8E24AA;
  color: white;
};

.WidgetTopCustomersOrders .widget-header-icon {
  background: #00897B;
  color: white;
};

.WidgetTotalRevenue .widget-header-icon {
  background: #43A047;
  color: white;
};

@media (max-width: 540px) {

  .widget-medium {
    flex: 1 0 24%;
    max-width: 350px;
  }
  
}

